.welcome {
    font-size: 50px;
    padding: 200px;
    color:blue;
    opacity: 0.5;
    font-family: cursive, Tahoma, sans-serif;
}

.home {
    display: flex;
    flex-direction: column;
    text-align: center;
}