.navbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(65, 195, 14);
    padding: 13px;
}
  
@media (max-width: 700px) {
    .navbar {
      flex-direction: column;
      padding: 15px;
    }
  }